<div class="container" id="home-container">
    <div class="jumbotron text-center text-white mt-4">
        <h1 class="display-4">Marilu T-Shirts</h1><br/><br/><br/>
        <p class="lead">All you need for you and your family in just one place!</p>
        <hr class="my-4">
        <p>Enjoy our offers!! Be trending!!</p>
        <%= link_to "Start shopping", root_path, class: "btn btn-success btn-lg" %>
    </div>
</div>