<div class="container" id="home-container">
    <div class="jumbotron text-center text-dark mt-4">
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="home-sign mb-3">
            <h2 class="home_jumbo mt-2 pt-4">All you need in just one place!</h2>
            <h6 class="home_jumbo pt-2">Enjoy our offers!! Be trending!!</h6>
            <%= link_to "Start shopping", index_path, class: "btn btn-info btn-lg mb-4 mt-1 pb-3" %>
        </div>
    </div>
</div>