<div class="container mt-4 mb-4 bg-transparent border border-info">
    <div class="row justify-content-center">
        <div class="col-12 mt-4 mb-1">
            <h1 class="text-center text-info">Editing Cart</h1>

            <%= render 'form', cart: @cart %>
        
            <%= link_to 'Show', @cart %> |
            <%= link_to 'Back', carts_path %>
        </div>
    </div>
</div>

