      <tbody>
        <tr scope="row">
          <td class="align-middle text-center"><small><%= line_item.quantity %></small></td>
          <td class="align-middle"><small><%= line_item.product.title %><small></td>
          <td class="align-middle text-center"><small><%= number_to_currency(line_item.total_price) %></small></td>
        </tr>
      </tbody>