<footer id="sticky-footer" class="py-4 bg-light text-black">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Gelcio Filho", "https://github.com/gelciofilho", class: "text-black" %> </small>
    </div>
</footer>